#date{
    font-size: 12px;
    font-weight: 800;
    background-color: white;
    border-radius: 10px;
    padding: 1px 7px 1px 7px;
    margin-top: 5px;
    /* box-shadow: 0 4px 2px -1px rgb(104, 99, 99);  */

}