@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
}


#autorize_home{
    background-color: #2c3227;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
   #autorize_home{
    height: 92.6vh;
   }
  }

  #welcomeImageText{
    width: 40vw;
  }

.autorize_container{
    background-color: white;
    height: 80vh;
    width: 290px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;
    border-radius: 5px;
}

.autorize-line{
    height: 2px;
    width: 80%;
    background: linear-gradient(90deg,darkgray 90%,#66FC00);
    /* background-color: darkgray; */
}

#authorize_button{
    width: 100%;
    height: 60px;
    color: white;
    font-size: 1.5rem;
    background-color: #26282a;
    border-radius: 50px;
    border: none;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 10px;

}

#authorize_button:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.89);
    transition: 1s ease;
}

#button-text{
}

.Text{
    color: #26282a;
    font-size: 2rem;
    font-weight: 900;
    /* font-family: 'Fuggles', cursive;     */
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.colaborators{
    display: flex;
    align-items: center;
    justify-content: center;
    color: darkgray;
    gap: 15px;
}
.icon{
    background-color: white;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-size: cover;
}

.gpt{
    background-image: url('./assests/gpt.png');
}

.calender{
    background-image: url('./assests/gcalender.png');
}

#image-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}
#welcomeImage{
    height: 200px;
    width: 200px;
    background-image: url('./assests/welcomeImage.png');
    background-size: cover;

}
#welcomeImageText{
    margin-top: 40px;
    color: rgb(110, 108, 108);
    width:200px;
}

#loggedin{
    /* background-color: whitesmoke; */             
    background-image: url('./assests/shapes-light.png');
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#homescreen{
    background-color: #2c2c2e;
    height: 80vh;
    width: 290px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 5px;
    padding: 10px;
}

#navbar{
    height : 10%;
    width: 100%;
    /* border: 1px solid grey; */
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar p{
    color: white;
    font-size: 1.2rem;
    font-weight: 800;
}





#event_container{
    width: 100%;
    height: 80%;
    margin-top:  10px;
}

#add_manual_event{
    width: 25%;
    height: 100%;
    color: white;
    font-size: 1.5rem;
    border: none;
    display: flex;
    justify-content:center;
    align-items: center;
}

.eventBars{
    box-sizing: border-box;
    display: flex;
    height: 13%;
    align-items: center;
    border-bottom: 1px solid black;
    justify-content: start;
}

.eventBars p{
    /* line-height: 0.3rem; */
    margin: 0;
}

#tab-row{
    /* background-color: red; */
    width: 100%;
    height: 10%;
    margin-top: 15px;
    display: flex;

}

.sheduleTab{
    
    width: 50%;
    height: 100%;
    border-radius: 5px;
    color: white;
    font-size: 1.1rem;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center    ;
}

.selectedTab{
    background-color: #585858;
}

.eventIndex{
    width: 10%;
    font-size: 0.8rem;
    font-weight: 800;
}

.eventTimes{
    width: 23%;
    font-size: 0.7rem;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.eventSummary{
    font-size: 0.9rem;
    font-weight: 650;
    width: 70%;
    text-align: start;
    padding-left: 10px;
}


.allDayEvent{
    border: 2px solid white;
    border-radius: 5px;
    padding-top : 5px;
    padding-bottom: 5px ;
}


#tasks_container{
    height: 80%;
}